.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  /* background: #4e73df; */
  background: rgb(78,115,223);
  background: linear-gradient(90deg, rgba(78,115,223,1) 0%, rgba(231,74,59,1) 25%, rgba(28,200,138,1) 50%, rgba(246,194,62,1) 75%);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 6px;
}
