{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CovidWorld: Live Coronavirus Tracker</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>

{##}
{#    <!-- STYLE BOXES -->#}
{#    <style>#}
{#        body {#}
{#     height: 100%;#}
{#     position: relative;#}
{#    }#}
{##}
{#        .main-containerll {#}
{#     min-height: 100vh; /* will cover the 100% of viewport */#}
{#     overflow: hidden;#}
{#     display: block;#}
{#     position: relative;#}
{#     padding-bottom: 100px; /* height of your footer */#}
{#    }#}
{##}
{#    footer {#}
{#     position: absolute;#}
{#     bottom: 0;#}
{#     width: 100%;#}
{##}
{#    }#}
{#    </style>#}


<body class="main-containerll">





  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Live CoronaVirus Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <a class="nav-link" href="{% url 'home' %}">Home
                <span class="sr-only">(current)</span>
            </a>
{#            <li class="nav-item">#}
{#            <a class="nav-link" href="#">About</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">Services</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">Contact</a>#}
{#          </li>#}
        </ul>
      </div>
    </div>
  </nav>


  {% block content%}

  {% endblock %}


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>




</body>

<!-- Footer -->
<footer class="bg-light">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: |
    <a href="https://github.com/nikhil96widhani/CovidDjango">  GITHUB</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>









{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <title>Covid-19 Tracker</title>#}
{#</head>#}
{#<body>#}
{#    {% block content%}#}
{##}
{#    {% endblock %}#}
{#</body>#}
{#<footer>#}
{#  <p><a href="https://github.com/nikhil96widhani/CovidDjango">GITHUB</a></p>#}
{#</footer>#}
{#</html>#}