{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Covid-19 World Tracker</title>


    <!-- Loading Bar -->
    <!-- Favicon favicon.html -->
    {% include 'favicon.html' %}


    <!-- CSS-->
    <link href="{% static 'css/pace-theme.css' %}" rel="stylesheet">
    <!-- News Modal -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <script type="text/javascript" src="{% static 'js/pace.min.js' %}"></script>
    <!-- FontAwsome Icons -->
    <script src="https://kit.fontawesome.com/ad14bd368c.js" crossorigin="anonymous"></script>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Theme CSS-->
    <link href="{% static 'css/sb-admin-2-modified.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {% block css %}

    {% endblock %}

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href={% url 'home' %}>
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-virus fa-2x text-danger fa-blink2"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3 font-weight-bold">Covid Tracker<sup class='text-danger'>
                        Live</sup></div>
                </a>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">


                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <!-- <li class="nav-item dropdown no-arrow d-sm-none">
                      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                      </a> -->
                    <!-- Dropdown - Messages -->
                    <!-- <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                      <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                          <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search fa-sm"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </li> -->

                    <!-- Nav Item - Alerts -->
                    <!-- <li id="news_button" class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-newspaper fa-fw"></i>
                        <span class="badge badge-danger badge-counter">5+</span>
                    </a>
{#                    {% block news %}#}
{##}
{#                    {% endblock %}#}
                </li> -->


                    {% include 'components/news.html' %}

                    {% include 'components/announcements.html' %}

                    {% include 'components/menu-top.html' %}


                </ul>

            </nav>
            <!-- End of Topbar -->

            {% block content %}
            {% endblock %}

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'components/footer.html' %}
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{#  <!-- Logout Modal-->#}
{#  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog" role="document">#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>#}
{#          <button class="close" type="button" data-dismiss="modal" aria-label="Close">#}
{#            <span aria-hidden="true">×</span>#}
{#          </button>#}
{#        </div>#}
{#        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>#}
{#        <div class="modal-footer">#}
{#          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>#}
{#          <a class="btn btn-primary" href="login.html">Logout</a>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}


<!-- Bootstrap core JavaScript-->
{#<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>#}


{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js"></script>#}
{#<script src="{% static 'js/sb-admin-2.min.js' %}"></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"#}
{#        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
{#        crossorigin="anonymous"></script>#}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- News Modal JS -->
<script src="{% static 'js/animatedModal.js' %}"></script>
<script>
    $("#demo01").animatedModal();
</script>

{% block js %}

{% endblock %}


</body>

</html>
