{% extends 'base.html' %}
{% load int_comma %}
{% load static %}

{% block css %}

    <!-- bootstrap SELECT 2 -->
    {#    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />#}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    {#    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">#}
    <link href="{% static 'css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap END SELECT 2 -->
    <link href="{% static 'datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}

{% block news %}
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Latest News
        </h6>
    <div id="latest_news">
        <!-- News will be filled here -->
    </div>
        <a class="dropdown-item text-center small text-gray-500" href="#">Show All News</a>
    </div>
{% endblock %}


{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

    <!-- Page Heading -->
    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <a ="#" class="d-none2 d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div> -->


    <div class="container-fluid select2-dropdown333  pt-2 pb-3">
            <div class="form-group">
                <h1 class="h3 mb-0 text-gray-800 text-center p-2">Showing stats for</h1>

                <!-- <label>Corona Virus Stats for : WORLD</label> -->
                <select id="region_selector" data-placeholder="Select a Country" data-allow-clear="1" name="region">
                    <option></option>
                    {% for region in regions %}
                        <option
                                value="{{ region }}"
                                {% if region == 'World' %}
                                selected="selected"
                                {% endif %} >{{ region }}
                        </option>
                    {% endfor %}
                </select>


                <div id="spinner" class="text-center py-2">
                    <div class="spinner-border text-primary" role="status"></div>
                </div>

            </div>

    </div>

    <!-- Content Row -->
    <div class="row">

            <!-- Total Cases Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Total Cases
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div id="total_cases" class="h4 mb-0 mr-3 font-weight-bold text-gray-800">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <sub id="new_total_cases" class="text-s font-weight-bold text-gray-800">
                                            </sub>

                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-head-side-virus fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total Deaths Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-s font-weight-bold text-danger text-uppercase mb-1">Total Deaths
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div id="total_deaths" class="h4 mb-0 mr-3 font-weight-bold text-gray-800">
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <sub id="new_total_deaths" class="text-xs font-weight-bold text-grey-800 ml-1">
                                            </sub>
                                    </div>
                                    <div class="col ml-3">
                                        <div class="text-xs text-danger">11%</div>
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-danger" role="progressbar"
                                                 style="width: 11%"
                                                 aria-valuenow=11% aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-frown fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-s font-weight-bold text-success text-uppercase mb-1">Total
                                    Recovered
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div id="total_recovered" class="h4 mb-0 mr-3 font-weight-bold text-gray-800">
                                        </div>
                                    </div>
{#                                    <div class="col-auto">#}
{#                                        <sub id="new_total_recovered" class="text-s font-weight-bold text-gray-800"><i#}
{#                                                    class="fas fa-long-arrow-alt-up text-danger"></i>#}
{#                                            </sub>#}
{#                                    </div>#}
                                    <div class="col ml-3">
                                        <div class="text-xs text-success">89%</div>
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                 style="width: 89%"
                                                 aria-valuenow=89% aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-shield-virus fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                <div class="text-s font-weight-bold text-warning text-uppercase mb-1">Active Cases
                                </div>
                                <div id="total_active" class="h4 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col">
                                <div class="text-s font-weight-bold text-warning text-uppercase mb-1">Critical
                                    Cases
                                </div>
                                <div id="total_critical" class="h4 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <!-- Content Row -->

    <div class="row">
    <!-- Data table -->
    <div class="col-xl-7 col-lg-7 py-3">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTable: Cases by Country</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr>
                            <th>Country</th>
                            <th>Cases</th>
                            <th>New Cases</th>
                            <th>Deaths</th>
                            <th>New Deaths</th>
                            <th>Recovered</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for countries in world_data %}
                            {% if countries.country not in continents_list %}
                                <tr>
                                    <td class="text-primary">{{ countries.country }}</td>
                                    <td>{{ countries.cases.total|int_comma }}</td>
                                    <td class="text-danger">+{{ countries.cases.new|int_comma }}</td>
                                    <td>{{ countries.deaths.total|int_comma }}</td>
                                    <td class="text-danger">+{{ countries.deaths.new|int_comma }}</td>
                                    <td>{{ countries.cases.recovered|int_comma }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        {% for countries in world_data %}
                            {% if countries.country == 'All' %}
                                <tr>
                                    <th>Total</th>
                                    <th>{{ countries.cases.total|int_comma }}</th>
                                    <th>+{{ countries.cases.new|int_comma }}</th>
                                    <th>{{ countries.deaths.total|int_comma }}</th>
                                    <th>+{{ countries.deaths.new|int_comma }}</th>
                                    <th>{{ countries.cases.recovered|int_comma }}</th>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <!-- Charts -->
    <div class="col-xl-5 col-lg-5 py-3">
        <!-- Geo Chart -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Case Outcomes</h6>
{#                <div class="dropdown no-arrow">#}
{#                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"#}
{#                       aria-haspopup="true" aria-expanded="false">#}
{#                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>#}
{#                    </a>#}
{#                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"#}
{#                         aria-labelledby="dropdownMenuLink">#}
{#                        <div class="dropdown-header">Dropdown Header:</div>#}
{#                        <a class="dropdown-item" href="#">Action</a>#}
{#                        <a class="dropdown-item" href="#">Another action</a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div id="regions_div"></div>


            </div>
        </div>
        <!-- Line Chart -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Case Outcomes</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div id="linechart_material"></div>

            </div>


{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
            {#            <div class="col-xl-5 col-lg-5 py-3">#}
            {#                <div class="card shadow mb-4">#}
            {#                    <!-- Card Header - Dropdown -->#}
            {#                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">#}
            {#                        <h6 class="m-0 font-weight-bold text-primary">Case Outcomes</h6>#}
            {#                  <div class="dropdown no-arrow">#}
            {#                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>#}
            {#                    </a>#}
            {#                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">#}
            {#                      <div class="dropdown-header">Dropdown Header:</div>#}
            {#                      <a class="dropdown-item" href="#">Action</a>#}
            {#                      <a class="dropdown-item" href="#">Another action</a>#}
            {#                      <div class="dropdown-divider"></div>#}
            {#                      <a class="dropdown-item" href="#">Something else here</a>#}
            {#                    </div>#}
            {#                  </div>#}
            {#                    </div>#}
            {#                    <!-- Card Body -->#}
            {#                    <div class="card-body">#}
            {#                        <div class="chart-pie pt-4 pb-2">#}
            {#                            <canvas id="myPieChart"></canvas>#}
            {#                        </div>#}
            {#                        <div class="mt-4 text-center small">#}
            {#                    <span class="mr-2">#}
            {#                      <i class="fas fa-circle text-primary"></i> Recovered#}
            {#                    </span>#}
            {#                            <span class="mr-2">#}
            {#                      <i class="fas fa-circle text-success"></i> Death#}
            {#                    </span>#}
            {#                            <span class="mr-2">#}
            {#                      <i class="fas fa-circle text-info"></i> Pending#}
            {#                    </span>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
{#        </div>#}
    </div>

    </div>
    </div>
    <!-- More features comming soon -->
    <div class="container-fluid select2-dropdown333  py-5">
        <div class="card bg-secondary text-white shadow text-center">
            <div class="card-body">
                More Charts and Tables coming soon...
                <div class="text-white-50 small">issue code #858796</div>
            </div>
        </div>

    </div>

    </div>
    <!-- /.container-fluid -->



    <!-- World Stats Ajax-->
        <script>

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }


        $('#region_selector').change(function () {
            $("#spinner").show()
            loadWorldStats();
        });

        function loadWorldStats() {
            var region_name = document.getElementById('region_selector').value;

            if (region_name === '') {
                region_name = 'World'

            } else {
                //pass
            }

            var getworldstats = '/api/worldstats';

            $.ajax({
                methood: "GET",
                url: getworldstats,
                data: {'region': region_name},
                success: function (data) {

                    document.getElementById("total_cases").innerHTML = number_format(data[0].cases.total);
                    var case_increase = number_format(data[0].cases.new);

                    document.getElementById("new_total_cases").innerHTML =
                        '<i class="fas fa-long-arrow-alt-up text-danger"></i>' + ' ' + case_increase;

                    document.getElementById("total_deaths").innerHTML = number_format(data[0].deaths.total);
                    var case_increase2 = number_format(data[0].deaths.new);

                    document.getElementById("new_total_deaths").innerHTML =
                        '<i class="fas fa-long-arrow-alt-up text-danger"></i>' + ' ' + case_increase2;

                    document.getElementById("total_recovered").innerHTML = number_format(data[0].cases.recovered);

                    document.getElementById("total_active").innerHTML = number_format(data[0].cases.active);

                    document.getElementById("total_critical").innerHTML = number_format(data[0].cases.critical);

                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data)
                }

            }).done(function() {
               //on return, add here
               $("#spinner").hide()
          });
        }

        $(document).ready(function loadPage() {
            loadWorldStats();
        });


    </script>

{#        <!-- Table SCRIPT -->#}
{##}
{#    <script>#}
{##}
{#        function loadTable() {#}
{##}
{#            var getNewsData = '/api/tabledata';#}
{##}
{#            $.ajax({#}
{#                methood: "GET",#}
{#                url: getNewsData,#}
{#                success: function (data) {#}
{#                    console.log(data)#}
{#                    for (var article in data) {#}
{#                        $("#latest_news").append(#}
{#                            '<a class="dropdown-item d-flex align-items-center" target="_blank" href=' + data[article].url + '>' +#}
{#                            '<div class="mr-3">' +#}
{#                            '<div class="icon-circle bg-primary">' +#}
{#                            '<img class="rounded-circle img-thumbnail" width="100px" height="100px" src="' + data[article].urlToImage + '">' +#}
{#                            '</div>' +#}
{#                            '</div>' +#}
{#                            '<div>' +#}
{#                            '<div class="small text-gray-500">From: ' + data[article].source.name + ' </div>' +#}
{#                            '<span class="font-weight-bold">' + data[article].title +'</span>' +#}
{#                            '</div>' +#}
{#                            '</a>'#}
{#                        );#}
{#                    }#}
{#                },#}
{#                error: function (error_data) {#}
{#                    console.log("error");#}
{#                    console.log(error_data)#}
{#                }#}
{##}
{#            }).done(function () {#}
{#                //on return, add here#}
{#                $("#spinner").hide()#}
{#            });#}
{#        }#}
{##}
{#        $(document).ready(function loadPage() {#}
{#        loadTable();#}
{#        });#}
{##}
{#    </script>#}


    <!-- api/news SCRIPT -->

    <script>

        $("#news_button").click(function(){
            $("#latest_news").empty()
            $("#spinner").show()
            loadNews();
         });

        $('#region_selector').change(function () {
            $("#latest_news").empty()
            $("#spinner").show()
            loadNews();
        });

        function loadNews() {
            var region_name = document.getElementById('region_selector').value;

            if (region_name === '') {
                region_name = 'World'

            } else {
                //pass
            }

            var getNewsData = '/api/news';

            $.ajax({
                methood: "GET",
                url: getNewsData,
                data: {'region': region_name},
                success: function (data) {
                    console.log(data)
                    for (var article in data) {
                        $("#latest_news").append(
                            '<a class="dropdown-item d-flex align-items-center" target="_blank" href=' + data[article].url + '>' +
                            '<div class="mr-3">' +
                            '<div class="icon-circle bg-primary">' +
                            '<img class="rounded-circle img-thumbnail" width="100px" height="100px" src="' + data[article].urlToImage + '">' +
                            '</div>' +
                            '</div>' +
                            '<div>' +
                            '<div class="small text-gray-500">From: ' + data[article].source.name + ' </div>' +
                            '<span class="font-weight-bold">' + data[article].title +'</span>' +
                            '</div>' +
                            '</a>'
                        );
                    }
                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data)
                }

            }).done(function () {
                //on return, add here
                $("#spinner").hide()
            });
        }

    </script>



    <!-- GOOGLE CHART SCRIPT -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyDm0d0NBkHGqE1Uy5eoH07z_cr6pCKAkaA'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data_geochart = $.ajax({
              url: "/api/geochart",
              dataType: "json",
              async: false
              }).responseJSON;
            console.log(data_geochart)

            var data = google.visualization.arrayToDataTable(data_geochart);

            var options = {
                legend: 'none',
                colorAxis: {
                    {#Custom scale and colour https://www.colorhexa.com/2e4585 #}
                    values:[3000, 10000, 30000, 50000, 100000, 150000, 200000, 1000000],
                    colors: ['#d5dcf1', '#c7d0eb', '#b8c4e6', '#9bacdc', '#7e94d2', '#617cc8', '#3d5cb1', '#334d94'],
                    {#Set Scale#}
                    {#colors: ['#C9D5F5', '#2E4585']#}
                },
                datalessRegionColor: '#f8f8f8',
                defaultColor: '#f8f8f8',


                {#show region based on selection#}
                {#region: 'US'#}

            };
            function resize () {
                var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                chart.draw(data, options);
            }
            window.onload = resize;
            window.onresize = resize;
            {#window.addEventListener('resize', drawRegionsMap, false);#}

        }


    </script>



        <!-- GOOGLE Geo CHART STYLING -->
{#    <style>#}
{#        path {#}
            {#fill: #ffac;#}
{#            stroke: #fff;#}
{#            stroke-width: 0.5;#}
{#        }#}
{##}
{#        :hover {#}
            {#fill: #fcafff;#}
{#            stroke: #000;#}
{#        }#}
{#    </style>#}
{##}


    <script>
        google.charts.load('current', {'packages': ['line']});
        google.charts.setOnLoadCallback(drawChart);


        function drawChart() {
            var data_linechart = $.ajax({
              url: "/api/linechart",
              dataType: "json",
              async: false
              }).responseJSON;

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'day');
            data.addColumn('number', 'cases');
            data.addColumn('number', 'recovered');
            data.addColumn('number', 'deaths');

            data.addRows(data_linechart);

            var options = {
                legend: {position: 'none'}


            };

            var chart = new google.charts.Line(document.getElementById('linechart_material'));

            chart.draw(data, google.charts.Line.convertOptions(options));

        }
        window.addEventListener('resize', drawChart, false);
    </script>


{% endblock %}


{% block js %}

    <!-- select2 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{#    <script src="{% static 'js/select2.min.js' %}"></script>#}

    {#      <script>#}
    {#      $(function () {#}
    {#        $('select').each(function () {#}
    {#          $(this).select2({#}
    {#            theme: 'bootstrap4',#}
    {#            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',#}
    {#            placeholder: $(this).data('placeholder'),#}
    {#            allowClear: Boolean($(this).data('allow-clear')),#}
    {#          });#}
    {#        });#}
    {#      });#}
    {#      </script>#}
    <!-- SELECT 2 END -->
    <script src="{% static 'js/select2script.js' %}"></script>

    <!-- Data Table START -->

    <script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatables/dataTables.bootstrap4.min.js' %}"></script>
    {#    <script src="{% static 'datatables/datatables-demo.js' %}"></script>#}

    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function () {
            $('#dataTable').DataTable(
                {
                    order: [1, 'desc'],
                    "pagingType": "full"
                }
            );
        });
    </script>

{% endblock %}