<!-- Nav Item - Announcements -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Announcements -->
        <span class="badge badge-danger badge-counter">2+</span>
    </a>
    <!-- Dropdown - Announcements -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="messagesDropdown">
        <h6 class="dropdown-header text-center">
            Announcements
        </h6>
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="font-weight-bold">
                <div>Active Cases numbers are being fixed. Other data is updated and 100% accurate
                </div>
                <div class="small text-gray-500">20m ago</div>
            </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="font-weight-bold">
                <div>V2 now available with all new UI and tons of new features
                </div>
                <div class="small text-gray-500">58m ago</div>
            </div>
        </a>
    </div>
</li>