{#<div class="row">#}
{#            <div class="col-12">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}

<div class="row">
    <div class="col-lg-6 col-xl-3 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h6 class="text-primary font-weight-normal mt-0 text-truncate"
                            title="Total Cases">Total Cases</h6>
                        <h5 id="current-total-value" class="font-weight-bolder my-2 py-1">
                            ...</h5>
                        <small class="mb-0 text-danger">
                            <span class="mr-2"><i class="fas fa-long-arrow-alt-up"></i>
                                3.27%
                            </span>
                        </small>
                    </div>
                    <div class="col-6">
                        <div class="text-right" style="position: relative;">
                            <div id="total-cases-card-chart" data-colors="#3688fc"
                                 style="min-height: 60px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-3 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h6 class="text-success font-weight-normal mt-0 text-truncate"
                            title="Recovered Cases">Recovered Cases</h6>
                        <h5 id="current-recovered-value" class="font-weight-bolder my-2 py-1">
                            ...</h5>
                        <small class="mb-0 text-success">
                            <span class="mr-2"><i class="fas fa-long-arrow-alt-up"></i>
                                3.27%
                            </span>
                        </small>
                    </div>
                    <div class="col-6">
                        <div class="text-right" style="position: relative;">
                            <div id="recovered-cases-card-chart" data-colors="#3688fc"
                                 style="min-height: 60px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-3 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h6 class="text-danger font-weight-normal mt-0 text-truncate"
                            title="Deaths">
                            Deaths</h6>
                        <h5 id="current-deaths-value" class="font-weight-bolder my-2 py-1">
                            ...</h5>
                        <small class="mb-0 text-danger">
                            <span class="mr-2"><i class="fas fa-long-arrow-alt-up"></i>
                                3.27%
                            </span>
                        </small>
                    </div>
                    <div class="col-6">
                        <div class="text-right" style="position: relative;">
                            <div id="deaths-card-chart" data-colors="#42d29d"
                                 style="min-height: 60px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-3 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h6 class="text-warning font-weight-normal mt-0 text-truncate"
                            title="Active Cases">Active Cases</h6>
                        <h5 id="current-active-value" class="font-weight-bolder my-2 py-1">
                            ...</h5>
                        <small class="mb-0 text-warning">
                            <span class="mr-2"><i class="fas fa-long-arrow-alt-up"></i>
                                3.27%
                            </span>
                        </small>
                    </div>
                    <div class="col-6">
                        <div class="text-right" style="position: relative;">
                            <div id="active-cases-card-chart" data-colors="#42d29d"
                                 style="min-height: 60px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}